doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
     
            block content
      
      

      - var co = false
        if co 
           p es funktioniert

     - var arr= [1,2,3]        
        each value in arr
          p= value 

